<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vidinoti.vdarsdk">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name="com.vidinoti.vdarsdk.ScannerDrawerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/VidinotiAppTheme.NoActionBar" />
        <service
            android:name="com.vidinoti.vdarsdk.MyFcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".WebActivity" />
    </application>

</manifest>